name: Django CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    #最大超市分钟设置为600分钟
    timeout-minutes: 600
    steps:
    - uses: actions/checkout@master    
    - name: Install Dependencies
      run: |
        cd docker_compose_deploy
        docker compose build --no-cache
#     - name: Run Tests
#       run: |
#         python manage.py test
